/*  公共样式 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;

    background-image: url(../image/background.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.nav{
    height: 50x;

    background-color: rgb(50, 50, 50);
    color:white;

    line-height: 50px;
    padding-left: 20px;
}



