.container {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
}

#screen{
    width: 450px;
    height: 50px;
    margin-top: 10px;
    background-color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}