.container{
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color: gray;
    text-align: center;
    line-height: 100px;
    color: white;
    border-radius: 10px;
    /* margin-bottom: 5px; */
}

#match-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    /* line-height: 200px; */
    color:white;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 10px;

    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

#match-button:active {
    background-color: gray;
}

