<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.java_gobang.model.UserMapper">

    <select id="selectByName" resultType="org.example.java_gobang.model.User">
        select * from user where username = #{username};
    </select>


    <insert id="insert" parameterType="org.example.java_gobang.model.User">
        insert into user values(null, #{username}, #{password}, 1000, 0, 0);
    </insert>


    <update id = "userWin">
        update user set totalCount = totalCount + 1,
                        winCount = winCount + 1,
                        score = score + 30
        where userId = #{userId}
    </update>

    <update id = "userLose">
        update user set totalCount = totalCount + 1,
                        score = score - 30
        where userId = #{userId}
    </update>
</mapper>
